body {
  position: relative;
  margin: 0;
  padding: 50px;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

#synth-genie-wrapper {
  position: relative;
  width: calc(512px + 2px);
  height: calc(256px + 2px);
}

#synth-genie {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#num-notes-slider,
#beat-length-slider,
#note-length-slider,
#min-midi-note-slider,
#max-midi-note-slider {
  width: 512px;
}
